{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block content %}
    <h1 class="text-center text-primary">Login</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}

<div class="container">
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label for="password"> Password:</label>
            <input type="password" class="form-control" id="password" name="_password" />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{{ path('ticketsnow_usuario_registrar') }}"><button type="button" class="btn btn-secondary">Registrarse</button></a>
    </form>
</div>

{% endblock %}
