{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}


{% block content %}
    <h1 class="text-center text-primary" >Registro</h1>

    <div class="container">
        {{ form( form , {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}