{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Gestión Usuarios
{% endblock %}

{% block content %}
    <h1 class="text-center text-primary">Gestión de usuarios</h1>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Tiene eventos</th>
        <th scope="col">Tiene mensajes</th>
        <th scope="col">Cambiar role</th>
        <th scope="col">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      {% for usuario in usuarios %}
        <tr>
          <th scope="row">{{ usuario.id }}</th>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.role }}</td>
          <td>{% if usuario.tieneEventos %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
          <td>{% if usuario.tieneMensajes %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
          <td>
              {% if usuario.role != 'ROLE_ADMIN' %}
                  <form action="{{ path('cambiarRole', { id: usuario.id }) }}" method="post" class="form-inline">
                      <div class="form-input">
                          <select name="role" id="cambia-role" class="form-control">
                              <option value="ROLE_GESTOR" {% if usuario.role == 'ROLE_COMPRADOR' %}selected{% endif %}>ROLE_GESTOR</option>
                              <option value="ROLE_COMPRADOR" {% if usuario.role == 'ROLE_GESTOR' %}selected{% endif %}>ROLE_COMPRADOR</option>
                          </select>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                      </div>
                  </form>
              {% endif %}

          </td>
          <td>
              {% if usuario.role != 'ROLE_ADMIN' and usuario.tieneEventos == false and usuario.tieneMensajes == false %}
                <a href="{{ path('ticketsnow_usuarios_eliminar', {id: usuario.id}) }}"><i class="fa fa-trash"></i></a>
              {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
