{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Mis entradas
{% endblock %}

{% block content %}
  <h1 class="text-center text-primary">Mis entradas</h1>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Evento</th>
        <th scope="col">Precio</th>
        <th scope="col">Fecha Celebracion</th>
        <th scope="col">Cantidad de entradas</th>
        <th scope="col">Fecha de compra</th>
      </tr>
      </thead>
      <tbody>
      {% for entrada in entradas %}
        <tr>
          <th scope="row">{{ entrada.idEvento.titulo }}</th>
          <td>{{ entrada.precio | localizedcurrency('EUR', 'es_es') }}</td>
          <td>{{ entrada.idEvento.fechaCelebracion | date('d/m/Y') }}</td>
          <td>{{ entrada.cantEntradas }}</td>
          <td>{{ entrada.fechaCompra | date('d/m/Y') }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
