{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Perfil
{% endblock %}

{% block content %}
  <h1 class="text-center text-primary">Mi perfil</h1>
    <div class="container">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{ usuario.avatar }}" alt="Avatar">
        <div class="card-block">
          <h4 class="card-title">Username: {{ usuario.username }}</h4>
          <p class="card-text">Email: {{ usuario.email }}</p>
        </div>
      </div>
      <form class="form-inline mb-5" action="{{ path('cambiarPassword') }}" method="POST">
        <div class="form-group mx-sm-3 mb-2">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Nueva contraseña">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cambiar contraseña</button>
      </form>

      <form class="form-inline mb-5" action="" method="POST">
        <div class="form-group mx-sm-3 mb-2">
          <label for="avatar" class="sr-only">Avatar nuevo</label>
          <input type="file" class="form-control" id="avatar">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cambiar avatar</button>
      </form>
    </div>


{% endblock %}
