{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Detalles de evento
{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <img class="card-img-top" src="{{ asset('uploads/events/' ~ evento.imagen) }}" style="width: 1000px;" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{ evento.titulo }}</h2>
        <p class="card-text">{{ evento.descripcion }}</p>
          <p class="card-text">{{ evento.ciudad }}, {{ evento.lugar }}</p>
          <p>Cantidad de entradas total: {{ evento.cantEntradasTotal }}</p>
          <p>Entradas restantes: {{ evento.cantEntradasRestante }}</p>

      </div>
        <div class="card-footer bg-secondary">
            <small class="text-muted">
                {{ evento.fechaCelebracion | date('d/m/Y') }}
                <span class="float-right">{{ evento.precio | localizedcurrency('EUR', 'es_es') }}</span>
            </small>
        </div>
    </div>
      <div class="card mt-4">
          <div class="card-header">
              <h3>Compra de entradas</h3>
          </div>
          <div class="card-body">
              <form class="form-inline" action="{{ path('ticketsnow_eventos_comprar', {id: evento.id}) }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                      <label for="numTickets">Cantidad de entradas</label>
                      <input class="form-control mr-3 w-25" type="number" name="numTickets" id="numTickets" min="1" >
                  </div>
                  <div class="form-group">
                      {% if is_granted('ROLE_COMPRADOR') %}
                        <button type="submit" class="btn btn-primary">Comprar</button>
                      {% else %}
                        <a href="{{ path('ticketsnow_usuario_registrarComprador') }}"><button type="button" class="btn btn-secondary">Login para comprar</button></a>
                      {% endif %}
                  </div>
              </form>
          </div>
      </div>
  </div>

{% endblock %}
