{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Error de compra
{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <h1 class="text-danger">Lo sentimos {{ usuario.username }}, ha habido un error con tu compra!</h1>
      <h3 >El evento {{ evento.titulo }} con fecha {{ evento.fechaCelebracion | localizeddate }} ya ha caducado, por lo que no se puede asistir a él.</h3>
    </div>
  </div>

{% endblock %}
