{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Eventos
{% endblock %}

{% block actionBusqueda %}
    {{ path('ticketsnow_eventos_buscar') }}
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ path("ticketsnow_eventos_nuevo") }}" class="btn btn-primary"><i class="fa fa-plus"> </i> Nuevo</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
                <th scope="col">Imagen</th>
                <th scope="col">Ciudad</th>
            </tr>
            </thead>
            <tbody>
            {% for evento in eventos %}
                <tr>
                    <th scope="row">{{ evento.id }}</th>
                    <td>
                        <a href="{{ path('ticketsnow_eventos_detalle', {id: evento.id }) }}">{{ evento.titulo }}</a>
                    </td>
                    <td>{{ evento.precio | localizedcurrency('EUR', 'es_es') }}</td>
                    <td>{{ evento.fechaCelebracion | date('d/m/Y') }}</td>
                    <td><img src="{{ asset('uploads/events/' ~ evento.imagen) }}" width="100"></td>
                    <td>{{ evento.ciudad }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                {% if numEventosFiltrados != numEventos %}
                    <th colspan="4">Mostrando {{ eventos | length }} eventos de {{ numEventosFiltrados }} filtrados (total de {{ numEventos }})</th>
                {% else %}
                    <th colspan="4">Mostrando {{ eventos | length }} eventos de un total de {{ numEventos }}</th>
                {% endif %}
                    <th colspan="2">
                        <ul class="pagination">
                            {% set numPaginas = (numEventosFiltrados / numEventosPagina) | round(0, 'ceil') %}
                            {% for i in 1..numPaginas %}
                                <li {% if page == i %} class="active" {% endif %}><a href="{{ path('ticketsnow_eventos') }}?page={{ i }}&busqueda={{ busqueda }}">{{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </th>
            </tfoot>
        </table>
    </div>

{% endblock %}
