{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Detalles de evento
{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <h2 class="text-success">Enhorabuena {{ usuario.username }}!, tu compra realizada con éxito!</h2>
      <h3 >Has comprado {{ entrada.cantEntradas }} entradas para el evento {{ evento.titulo }} por la cantidad de {{ entrada.precio | localizedcurrency('EUR', 'es_es') }}</h3>
      <p>Fecha: {{ entrada.fechaCompra | localizeddate }}</p>
    </div>
  </div>

{% endblock %}
