{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Eventos
{% endblock %}

{% block actionBusqueda %}
    {{ path('ticketsnow_eventos_buscar') }}
{% endblock %}

{% block content %}
    <h1 class="text-center text-primary">Mis eventos</h1>
    <div class="container">
        <a href="{{ path("ticketsnow_eventos_nuevo") }}" class="btn btn-primary"><i class="fa fa-plus"> </i> Nuevo</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
                <th scope="col">Imagen</th>
                <th scope="col">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for evento in eventos %}
                <tr>
                    <th scope="row">{{ evento.id }}</th>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.precio | localizedcurrency('EUR', 'es_es') }}</td>
                    <td>{{ evento.fechaCelebracion | date('d/m/Y') }}</td>
                    <td><img src="{{ asset('uploads/events/' ~ evento.imagen) }}" width="100"></td>
                    <td>
                        {% if (evento.cantEntradasTotal) == (evento.cantEntradasRestante) %}
                            <a href="{{ path('ticketsnow_eventos_eliminar', { id: evento.id }) }}"><i class="fa fa-trash"> </i></a>
                        {% endif %}
                        <a href="{{ path('ticketsnow_eventos_editar', { id: evento.id }) }}"><i class="fa fa-edit"> </i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
