{% extends "base.html.twig" %}

{% block body %}

    <header >
      <h1><a href="/">Ticketsnow</a></h1>
    </header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('ticketsnow_eventos') }}">Eventos</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" action="{{ path('ticketsnow_eventos_buscar') }}" method="post">
            <label for="fecha">Filtrar por categoría: </label>
            <select class="form-control" name="categoria" id="categoria">
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'all' %} selected {% endif %}{% endif %}
                        value="all">Todas las categorías</option>
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'teatro' %} selected {% endif %}{% endif %}
                        value="teatro">Teatro</option>
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'concierto' %} selected {% endif %}{% endif %}
                        value="concierto">Concierto</option>
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'cine' %} selected {% endif %}{% endif %}
                        value="cine">Cine</option>
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'festival' %} selected {% endif %}{% endif %}
                        value="festival">Festival</option>
                <option {% if busquedaCategoria is defined %}{% if busquedaCategoria == 'musical' %} selected {% endif %}{% endif %}
                        value="musical">Musical</option>
            </select>
          <div class="form-group">
            <label for="busqueda">Título: </label>
            <input type="text" name="busqueda"
                   class="form-control" placeholder="Busca por título"
                   value="{% if busqueda is defined %}{{ busqueda }}{% endif %}">

            <label for="busquedaCiudad">Ciudad: </label>
            <input type="text" name="busquedaCiudad"
                   class="form-control" placeholder="Busca por ciudad"
                   value="{% if busquedaCiudad is defined %}{{ busquedaCiudad }}{% endif %}">

            <label for="fecha">Filtrar por fecha: </label>
            <select class="form-control" name="fecha" id="fecha">
              <option {% if busquedaFecha is defined %}{% if busquedaFecha == 'all' %} selected {% endif %}{% endif %}
                      value="all">Todas las fechas</option>
              <option {% if busquedaFecha is defined %}{% if busquedaFecha == 'tomorrow' %} selected {% endif %}{% endif %}
                      value="tomorrow">Mañana</option>
              <option {% if busquedaFecha is defined %}{% if busquedaFecha == 'weekend' %} selected {% endif %}{% endif %}
                      value="weekend">Este fin de semana</option>
              <option {% if busquedaFecha is defined %}{% if busquedaFecha == 'week' %} selected {% endif %}{% endif %}
                      value="week">Esta semana</option>
              <option {% if busquedaFecha is defined %}{% if busquedaFecha == 'month' %} selected {% endif %}{% endif %}
                      value="month">Este mes</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_GESTOR') %}
                <a class="navbar-brand" href="{{ path('ticketsnow_eventos_gestor') }}">Mis eventos</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-brand" href="{{ path('ticketsnow_usuarios_gestion') }}">Gestión de usuarios</a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <a class="navbar-brand" href="{{ path('login') }}">Login</a>
            {% else %}
                <a class="navbar-brand" href="{{ path('ticketsnow_usuarios_entradas') }}">Mis entradas</a>
                <a class="navbar-brand" href="{{ path('ticketsnow_profile') }}">Perfil</a>
                <a class="navbar-brand" href="{{ path('logout') }}">{{ app.user.username | upper }} - Logout</a>
            {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p class="text-center">Copyright &copy; DWES 2017 - 2018</p>
    </footer>
{% endblock %}
