{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inicio
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <p>Bienvenidos a Sanvipop</p>
    </div>
{% endblock %}
