{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Error 404
{% endblock %}

{% block content %}

  <div class="container">
      <h1 class="text-danger">Error 404, página no encontrada</h1>
  </div>

{% endblock %}