{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Error 403
{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="text-danger">Error 403, acceso no permitido</h1>
  </div>

{% endblock %}